.container {
    width: auto;
    margin: auto;
    text-align: center;
}
.dice{
    text-align: center;
    display: inline-block;
}
body{
    background-color: #204051;
}
h1{
    font-family: 'Fondamento', cursive;
    margin: 30px;
    font-size: 5rem;
    text-shadow: 5px 0 #204051;
    color: #14b1ab;
}
p{
    font-size: 2rem;
    font-family: 'Cedarville Cursive', cursive;
    color: #14b1ab;
    font-weight: bold;
}
img{
    width: 80%;
}
footer{
    margin-top: 5%;
    color: aliceblue;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}